.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: 1.8rem;
  font-weight: 300;
  padding: $s-size;
}

.text-input--small {
  padding: $s-size;
  width: 12rem;
  border: none;
  background: #f7f7f7;
}

.select {
  @extend .text-input;
  padding: 0; 
}

.text-area {
  @extend .text-input;
  height: 15rem;
}